<p id="notice"><%= notice %></p>

<h1>Windows Events</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Client</th>
      <th>Time</th>
      <th>Samaccountname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @windows_events.each do |windows_event| %>
      <tr>
        <td><%= windows_event.event_id %></td>
        <td><%= windows_event.client_id %></td>
        <td><%= windows_event.time %></td>
        <td><%= windows_event.samaccountname %></td>
        <td><%= link_to 'Show', windows_event %></td>
        <td><%= link_to 'Edit', edit_windows_event_path(windows_event) %></td>
        <td><%= link_to 'Destroy', windows_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Windows Event', new_windows_event_path %>
