<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @windows_event.event_id %>
</p>

<p>
  <strong>Client:</strong>
  <%= @windows_event.client_id %>
</p>

<p>
  <strong>Time:</strong>
  <%= @windows_event.time %>
</p>

<p>
  <strong>Samaccountname:</strong>
  <%= @windows_event.samaccountname %>
</p>

<%= link_to 'Edit', edit_windows_event_path(@windows_event) %> |
<%= link_to 'Back', windows_events_path %>
